@import 'src/scss/variables';

.Send {
  padding-top: $large;
  width: 100%;
  background-color: white;
  display: flex;
  height: 100%;
}
.Send-tabs {
  display: flex;
  flex-direction: row;
  margin-bottom: $small;
  border-bottom: 1px solid #e6e8eb;
}
.Send-tab {
  color: #637282;
  padding: $tiny 0;
  margin-right: $small;
  position: relative;
  top: 1px;
  font-size: 13px;
  font-weight: 700;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid transparent;
  border-left: 0;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
  &.active  {
    border-bottom: 2px solid black !important;
    color: black !important;
  }
  &:hover {
    color: #1b2733;
    border-bottom: 2px solid #637282;
  }
}
.Send h4 {
  font-weight: 600;
  margin-bottom: $small;
}
.Send-content {
  position: relative;
  padding: 0 $small 0 $small;
  width: 500px;
  margin: 0 auto;
  min-width: 0;
}
.Send-row {
  display: flex;
  flex-direction: row;
  margin-bottom: $small;
  min-width: 0;
  position: relative;
  & > .Send-column {
    margin-bottom: 0;
    margin-right: $small;
    &:last-child {
      margin-right: 0;
    }
  }
}
.Send-column {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: $small;
  min-width: 0;
  position: relative;
  // &:last-child {
  //   margin-bottom: $large;
  // }
}
.Send-label {
  margin-bottom: 6px;
  font-size: 13px;
  font-weight: 500;
}
.Send-amount {
  & > .jp {
    padding: 6px $tiny $tiny $tiny;
    font-size: 17px;
    font-weight: 700;
  }
}
.Send-amount-ctrl {
  font-weight: 600;
  padding: 8px 0 8px 14px;
}
// .Send-wrap {
//   display: flex;
//   flex-direction: column;
//   min-width: 0;
//   flex-grow: 1;
// }
// .Send-amount-ipt {
//   // max-width: 250px;
//   // font-size: $h2;
//   font-size: $h4;
//   font-weight: 700;
//   outline: 0;
//   border: 0;
//   min-width: 0;
// }
// .Send-sign {
//   height: 35px;
//   width: 35px;
//   display: inline-block;
//   font-size: $h2;
//   margin-left: $tiny;
//   position: relative;
//   // top: -18px;
//   top: -5px;
// }
// .Send-balance {
//   font-size: 13px;
//   // color:
// }
// .Send-addr-ipt {
//   margin-top: 4px;
//   // max-width: 285px;
//   // width: 293px;
//   font-size: $h4;
//   font-weight: 700;
//   outline: 0;
//   border: 0;
//   min-width: 0;
// }
::placeholder {
  color: #999;
}
