@import 'src/scss/variables';

.App {
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  opacity: 1;
  transition: all .45s cubic-bezier(.19, 1, .22, 1);
  &.hide {
    transform: scale(.9);
    opacity: 0
  }
  &.none {
    display: none;
  }
}
.App-toolbar {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.App-wallet {
  padding: 8px $small 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  color: #999;
  transition: all .15s ease;
  font-size: 14px;
  &:hover {
    color: black;
  }
  &:hover > svg {
    opacity: 1;
  }
  &:active > svg{
    stroke: #080808;
  }
}
.App-wallet svg {
  opacity: 0;
  margin-left: 4px;
  stroke: #888;
  transition: all .15s ease;
}
.App-drag {
  flex-grow: 1;
  -webkit-app-region: drag;
  height: 40px;
}
.App-settings-btn {
  border: 0;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 14px;
  vertical-align: top;
  cursor: pointer;
  z-index: 1;
  outline: 0;
  background-color: transparent;
  &:hover > svg {
    fill: #080808;
  }
}
.App-settings-btn svg {
  vertical-align: middle;
  fill: #888;
  width: $base;
  height: $base;
  transition: all .15s ease;
}
.App-animation {
  z-index: 10000;
}
.App_standard-button {
  position: absolute;
  bottom: 58px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  padding: 12px;
  min-width: 180px;
  border: 1px solid black;
  border-radius: 64px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  transition: color .2s, background-color .2s, border-color .2s;
  &:hover {
    background-color: white;
    color: #101010;
    border-color: white;
  }
}
