.Transactions {
  max-height: 100%;
  min-height: 100%;
  overflow-y: scroll;
  background-color: #f2f2f2;
  padding: 128px 16px 128px 16px;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 170px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    pointer-events: none;
    z-index: 10000;
  }
  & > .SmallTransactionCard {
    margin-bottom: 10px;
  }
}
