.Password {
  height: 100%;
  background-color: #101010;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    width: 100px;
    background-color: transparent;
    padding: 4px;
    color: white;
    border-radius: 6px;
    outline: 0;
    border: 1px dotted #101010;
    margin-right: 4px;
    &:focus {
      border-color: white;
    }
  }
}
.Password_login-btn {
  color: white;
  padding: 4px;
  border: 0;
  background-color: transparent;
  position: relative;
  right: 0;
  transition: all .2s;
  outline: 0;
  &:hover {
    right: -2px;
  }
}
