.Password {
  height: 100%;
  background-color: #101010;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    width: 180px;
    background-color: transparent;
    padding: 8px 20px;
    color: white;
    border-radius: 56px;
    outline: 0;
    border: 1px dotted #2d2d2d;
    margin-right: 14px;
    transition: all .2s ease;
    &:focus {
      border-color: white;
    }
  }
}
.Password_login-btn {
  color: white;
  padding: 4px;
  border: 0;
  background-color: transparent;
  position: relative;
  right: 0;
  transition: all .2s;
  outline: 0;
}
.Password_credits {
  position: absolute;
  bottom: 58px;
  color: #888;
  font-size: 13px;
}
