@import "src/scss/variables";

.Home {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // &:hover > h2 {
  //   opacity: 1;
  //   transform: scale(1);
  //   filter: blur(0px);
  // }
}
.Home-header {}
.Home-balance {}
.Home-balance-subheading {
  text-align: center;
  display: block;
  margin-bottom: 2px;
  color: #999;
  font-size: 13px;
}
.Home-actions {}
.Home-action-btn {
  display: inline-block;
  background-color: rgba(0, 0, 0, .1);
  border: 0;
  font-family: 'Inter UI';
  border-radius: 25px;
  padding: 10px $small;
  outline: 0;
  transition: all .15s ease;
  font-weight: 600;
  margin: 0 $tiny;
  cursor: pointer;
  width: 115px;
  &:hover {
    background-color: rgba(0, 0, 0, .2);
  }
}
.Home-action-btn svg {
  margin-left: 6px;
  vertical-align: top;
}
.Home h2 {
  margin-bottom: 14px;
  text-align: center;
  transition: 1s cubic-bezier(.19, 1, .22, 1);
  // transform: scale(.95);
  // filter: blur(10px);
  // opacity: .3;
}
