@import "src/scss/variables";

.Home {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Home_header {
  text-align: center;
  transition: all .4s cubic-bezier(.19, 1, .22, 1);
  filter: blur(0);
  cursor: pointer;
  &:hover {
    filter: blur(14px);
  }
  &:hover + .Home_transactions {
    .SmallTransactionCard {
      div {
        filter: blur(10px);
      }
    }
  }
  &.privacy {
    filter: blur(14px);
  }
  small {
    color: #999;
    font-size: 16px;
    font-weight: 500;
  }
}
.Home_transactions {
  width: 100%;
  padding: 16px 16px 16px 16px;
  margin-bottom: 16px;
  position: relative;
}
.Home_all-txs {
  position: absolute;
  top: 0;
}
.Home_transaction-layer {
  position: absolute;
  height: 100px;
  border-radius: 16px;
  left: 50%;
  transform: translateX(-50%);
  &.layer-2 {
    width: calc(100% - 64px);
    z-index: 2;
    bottom: -0px;
    background-color: #F7F7F7;
  }
  &.layer-3 {
    width: calc(100% - 96px);
    z-index: 0;
    bottom: -13px;
    background-color: #EDEDED;
  }
}
.Home_details {
  display: flex;
  width: 100%;
  padding: 16px;
}
.Home_detail {
  background-color: white;
  border-radius: 16px;
  padding: 10px 14px;
  label {
    font-size: 15px;
    padding-bottom: 2px;
    display: inline-block;
  }
  h4 {
    display: block;
    margin-bottom: 2px;
  }
  h4, h6 {
    font-weight: 500;
  }
  &.height {
    margin-right: 8px;
    margin-bottom: 8px;
    flex-grow: 1;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
  }
  &.peers {
    margin-right: 8px;
  }
  &.node {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
  }
  & > .difficulty {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 16px;
    h6 {
      word-break: break-all;
    }
  }
}
.Home_detail-steps {
  font-size: 15px;
  margin-top: 4px;
  display: inline-block;
}
