@import 'src/scss/variables';

.FileMethod {
  width: 100%;
}
.FileMethod-slate {
  border-radius: 4px;
  border: 1px solid #ddd;
  font-family: monospace;
  font-size: 13px;
  margin-top: 6px;
  outline: 0;
  position: relative;
  transition: all .2s ease;
  white-space: pre;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;
    border-color: rgb(221, 221, 221);
  }
}
.FileMethod-copy {
  display: flex;
  padding: 8px;
  overflow: hidden;
  position: relative;
  color: #999;
  justify-content: center;
  height: 55px;
  align-items: center;
  transition: all .6s cubic-bezier(.19, 1, .22, 1);
  // transition: all .5s cubic-bezier(.19, 1, .22, 1);
  &.active {
    color: black;
    height: 90px;
  }
  &:hover > button {
    opacity: 1;
    transform: translateY(0px);
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(0deg, #fff, hsla(0,0%,100%,0) 40px);
  }
}
.FileMethod-json {
  position: absolute;
  top: 0;
  width: 100%;
  padding: $tiny;
}
.FileMethod-copy-btn {
  background-color: black;
  border: 0;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-family: 'Inter UI';
  font-size: 14px;
  padding: $tiny $small;
  opacity: 0;
  outline: 0;
  top: 30%;
  transform: translateY(5px);
  transition: all .2s ease;
  margin: 0 $tiny;
  z-index: 100;
  &:hover {
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.16);
    transform: translateY(-1px) !important;
  }
  &:disabled {
    cursor: not-allowed;
    background-color: #c7c7c7;
    color: #efefef !important;
  }
  & svg {
    vertical-align: bottom;
    margin-left: $tiny;
  }
}
.FileMethod-save {
  border-top: 1px solid #ddd;
}
.FileMethod-save-btn {
  cursor: pointer;
  width: 100%;
  border: 0;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  padding: 8px;
  outline: 0;
  color: #8c8c8c;
  transition: all .2s ease;
  &:hover {
    color: black;
    background-color: #f2f2f2;
  }
  & svg {
    vertical-align: bottom;
    margin-left: $tiny;
  }
}
.FileMethod-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: $small;
  margin-bottom: 32px;
}
.FileMethod-end-btn {
  background-color: #2ec13f;
  border: 0;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-family: 'Inter UI';
  font-size: 14px;
  padding: $tiny $small;
  outline: 0;
  transition: background-color .6s ease, transform .2s ease, box-shadow .2s ease;
  &:hover:not([disabled]) {
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.16);
    transform: translateY(-1px) !important;
  }
  &:disabled {
    cursor: not-allowed;
    background-color: #c7c7c7;
    color: #efefef !important;
  }
  &.finalize {
    background: black;
    color: white;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}

@keyframes void-animation-out {
  0%,
  to {
    opacity: 1;
  }
}

.spinner {
  width: 0;
  height: 0;
  opacity: 0;
  vertical-align: bottom;
  will-change: transform;
  transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1);
  &.active {
    margin-left: $tiny;
    width: 18px;
    height: 16px;
    opacity: 1;
  }
}
.circle {
  stroke-dasharray: 53;
  stroke-dashoffset: 27.9;
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation: spin 1s linear infinite;
}
