.Input {
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  transition: all .2s ease;
  &:hover:not([disabled]), &.active {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;
    border-color: rgb(221, 221, 221);
  }
  // &:disabled:hover {
  //   box-shadow: 0;
  //   border-color: inherit;
  // }
}
.Input-ctrl {
  border: 0;
  border-radius: 4px;
  flex-grow: 1;
  min-width: 0;
  padding: 8px 14px;
  outline: 0;
}
