.Layer {
  background-color: white;
  display: flex;
  height: 100%;
  overflow-y: scroll;
  transition: all .45s cubic-bezier(.19, 1, .22, 1);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 1001;
}
