.SmallTransactionCard {
  cursor: pointer;
  padding: 12px 16px 20px 16px;
  background-color: white;
  border-radius: 16px;
  z-index: 10;
  position: relative;
  width: 100%;
  min-width: calc(375px - 32px);
  transition: transform .2s ease;
  transform: scale(1);
  min-height: 100px;
  &.privacy div {
    filter: blur(10px);
  }
  &:hover {
    transform: scale(1.025);
  }
}
.SmallTransactionCard_header {
  display: flex;
  font-size: 13px;
  margin-bottom: 16px;
  transition: all .45s cubic-bezier(.19, 1, .22, 1);
}
.SmallTransactionCard_timestamp {
  text-align: right;
  flex-grow: 1;
}
.SmallTransactionCard_details {
  display: flex;
  flex-direction: row;
  transition: all .45s cubic-bezier(.19, 1, .22, 1);
}
.SmallTransactionCard_detail {
  flex-basis: 50%;
}
.SmallTransactionCard_status {
  flex-basis: 50%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: 500;
  &.cancelled {
    color: #EC4D40;
  }
  &.complete {
    color: #1BB118;
  }
  &.waiting {
    color: #cec300;
  }
}
.SmallTransactionCard_placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
  font-size: 13px;
}
